.menuList {
	max-width: inherit;
	height: 480px;
	padding-right: 8px;
	overflow-y: auto;
	list-style-image: url('../../../svg/Vector.svg');
}

.menuList li {
	margin-bottom: 16px;
}

.upperBun {
	margin: 100px 0 0;
}

.bottomBun {
	margin: 0 0 40px;
}
