.burgerBuilder {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
}

.menuList {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.menuList li {
	margin-bottom: 16px;
}

.upperBun {
	margin: 100px 0 0;
}

.bottomBun {
	margin: 0 0 40px;
}

.emptyBunTop {
	background: var(--background-element);
    border-radius: var(--top-constructor-item-border-radius);
    box-sizing: border-box;
    color: #f2f2f3;
    display: inline-block;
    flex-grow: 1;
    font-family: Jet Brains Mono;
    font-size: 16px;
    line-height: 24px;
    max-width: 536px;
    min-height: 80px;
    padding: 28px 178px;
    width: 100%;
}

.emptyBunBottom {
	background: var(--background-element);
    border-radius: var(--bottom-constructor-item-border-radius);
    box-sizing: border-box;
    color: #f2f2f3;
    display: inline-block;
    flex-grow: 1;
    font-family: Jet Brains Mono;
    font-size: 16px;
    line-height: 24px;
    max-width: 536px;
    min-height: 80px;
    padding: 28px 178px;
    width: 100%;
}

.emptyMiddle {
	background: var(--background-element);
    border-radius: var(--common-border-radius-s);
    box-sizing: border-box;
    color: #f2f2f3;
    display: inline-block;
    flex-grow: 1;
    font-family: Jet Brains Mono;
    font-size: 16px;
    line-height: 24px;
    max-width: 536px;
    min-height: 80px;
    padding: 28px 178px;
    width: 100%;
}

