@font-face {
	font-family: 'JetBrainsMono';
	font-style: normal;
	src: url('../../fonts/jet-brains/JetBrainsMono-VariableFont_wght.ttf');
}

.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}



.modalContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 20px;
	background-color: rgba(28, 28, 33, 1);
	border-radius: 40px;
	width: 720px;
	position: relative;
	border: 1px rgba(76, 76, 255, 0.2);
	box-shadow: rgba(26, 24, 24, 0.04);
}

.modalClose {
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 60px;
	cursor: pointer;
}

.done {
	width: 48px;
	height: 48px;
}

.title {
	width: 640px;
	font-family: 'JetBrainsMono', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0%;
	color: rgba(242, 242, 243, 1);
	text-align: start;
	/* margin: 40px 40px 0px 40px; */
}

.nameProduct {
	font-family: 'JetBrainsMono', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0%;
}

.imageProduct {

}

.descriptionWrapper {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

.tab {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	color: rgba(133, 133, 173, 1);
	margin: 0px 0px 60px 0px;
}

.tab th {
	font-family: 'JetBrainsMono', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0px;
	display: flex;
	flex-direction: column;
}

.tab tr {
	font-size: 28px;
}






