@font-face {
	font-family: 'JetBrainsMono';
	font-style: normal;
	src: url('../../fonts/jet-brains/JetBrainsMono-VariableFont_wght.ttf');
}

.modalOverlay {
	position: fixed;
	inset: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0 0 0 / 70%);
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1001;
	width: 720px;
	background-color: rgb(28 28 33 / 100%);
	border: 1px rgb(76 76 255 / 20%);
	border-radius: 40px;
	box-shadow: rgb(26 24 24 / 4%);
	transform: translate(-50%, -50%);
}

.modalContent {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
}

.modalClose {
	position: absolute;
	top: 40px;
	right: 31px;
	color: white;
	font-size: 50px;
	background: none;
	border: none;
	cursor: pointer;
}

.done {
	width: 48px;
	height: 48px;
}

.title {
	width: 640px;
	color: rgb(242 242 243 / 100%);
	font-weight: 700;
	font-size: 36px;
	font-family: 'JetBrainsMono', 'Arial', 'Helvetica', sans-serif;

	/* line-height: 40px; */
	letter-spacing: 0%;
	text-align: start;

	/* margin: 40px 40px 0px 40px; */
}

.nameProduct {
	font-weight: 700;
	font-size: 24px;
	font-family: 'JetBrainsMono', 'Arial', 'Helvetica', sans-serif;

	/* line-height: 30px; */
	letter-spacing: 0%;
}

.descriptionWrapper {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

.tab {
	display: flex;
	flex-direction: row;
	margin: 0 0 60px;
	color: rgb(133 133 173 / 100%);
	column-gap: 20px;
}

.tab tr {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-size: 16px;
	font-family: 'JetBrainsMono', 'Arial', 'Helvetica', sans-serif;
	letter-spacing: 0;
}

.tab td {
	font-size: 28px;
}

.identityOrder {
	font-weight: 700;
	font-size: 24px;
	font-family: 'JetBrainsMono', 'Arial', 'Helvetica', sans-serif;
	letter-spacing: 0%;
}

#number {
	margin: 120px 0 0;
}

#info {
	margin: 0 0 120px;
}
