@font-face {
	font-family: 'JetBrainsMono';
	font-style: normal;
	src: url('../../fonts/jet-brains/JetBrainsMono-VariableFont_wght.ttf');
}

.burgerIngredients {
	box-sizing: border-box;
	max-width: 600px;
	background-color: rgb(19 19 22 / 100%);
	border: 2px rgb(76 76 255 / 100%);
}

.title {
	margin: 40px 0 20px;
	font-weight: 700;
	font-size: 36px;
	font-family: 'JetBrainsMono', sans-serif, 'Arial';

	/* line-height: 40px; */
	letter-spacing: 0%;
}

.headline {
	color: rgb(242 242 243 / 100%);
	font-weight: 700;
	font-size: 24px;
	font-family: 'JetBrainsMono', sans-serif, 'Arial';

	/* line-height: 30px; */
	letter-spacing: 0%;
}

.wrapper {
	/* scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%); */
	height: 756px;
	overflow: auto;
}

.switchWrapper {
	display: flex;
}

.ingredientsField {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	column-gap: 24px;

	/* overflow-y: auto;  */
}


.ingredientItem {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	max-width: 272px;
	background-color: inherit;
	cursor: pointer;
}

.price {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.description {
	font-weight: 400;
	font-size: 16px;
	font-family: 'JetBrainsMono', 'Arial', sans-serif;

	/* line-height: 24px; */
	letter-spacing: 0%;
	text-align: center;
}

.typeWrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}